@{
    ViewBag.Title = "Profile";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="profile-block">
                <a href="">Выйти</a>
                <div class="profile-image">
                    <img src="/image2/student.png" alt="">
                </div>
                <div class="profile-spec">
                    <p>Студент</p>
                </div>
                <div class="profile-fullName">
                    <p>Васильев Василий</p>
                </div>
                <div class="profile-icons">
                    <div class="icons"><a href=""><img src="/image/icons-profile/apps_social_media_vk_logo_icon_229305 1.png" alt=""></a></div>
                    <div class="icons"><a href=""><img src="/image/icons-profile/telegram_logo_icon_229299 1.png" alt=""></a></div>
                    <div class="icons"><a href=""><img src="/image/icons-profile/instagram_logo_icon_229292 1.png" alt=""></a></div>
                    <div class="icons"><a href=""><img src="/image/icons-profile/meta_fb_communication_social_media_katana_facebook_icon_228415 1.png" alt=""></a></div>
                </div>
            </div>
            <div class="profile-info">
                <div class="country general">
                    <a href=""><span></span></a>
                    <div class="country-info general-info">
                        <p>Страна:</p>
                    </div>
                    <div class="country-text general-text">
                        <p>Россия</p>
                    </div>
                </div>

                <div class="city general">
                    <a href=""><span></span></a>
                    <div class="city-info general-info">
                        <p>Город:</p>
                    </div>
                    <div class="city-text general-text">
                        <p>Череповец</p>
                    </div>
                </div>

                <div class="gender general">
                    <a href=""><span></span></a>
                    <div class="gender-info general-info">
                        <p>Пол:</p>
                    </div>
                    <div class="gender-text general-text">
                        <p>Мужской</p>
                    </div>
                </div>

                <div class="group general">
                    <a href=""><span></span></a>
                    <div class="group-info general-info">
                        <p>Группа:</p>
                    </div>
                    <div class="group-text general-text">
                        <p>ИС-45</p>
                    </div>
                </div>

                <div class="direction general">
                    <a href=""><span></span></a>
                    <div class="direction-info general-info">
                        <p>Направление:</p>
                    </div>
                    <div class="direction-text general-text">
                        <p>Информационные системы и среды</p>
                    </div>
                </div>

                <div class="links-socMedia">
                    <div class="link-vk links">
                        <p>VK:</p>
                        <input type="text" placeholder="Оставьте ссылку на ваш аккаунт ВКонтакте">
                    </div>
                    <div class="link-tg links">
                        <p>Telegram:</p>
                        <input type="text" placeholder="Оставьте ссылку на ваш аккаунт Телеграм">
                    </div>
                    <div class="link-inst links">
                        <p>Instagramm:</p>
                        <input type="text" placeholder="Оставьте ссылку на ваш аккаунт Инстаграм">
                    </div>
                    <div class="link-facebook links">
                        <p>Facebook:</p>
                        <input type="text" placeholder="Оставьте ссылку на ваш аккаунт Фейсбук">
                    </div>
                    <div class="save-links">
                        <button>Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>