

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/Index.css">
    <title>Chlmt</title>
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <div class="header">
                <div class="header_login">
                    <div class="header_login_container">
                        <a class="login" href="/Authorization/Login">Войти</a>
                        <div class="header_login__profile">
                            <img src="/image/icons/profile.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="header_burger">
                    <span></span>
                </div>
                <div class="header_menu">
                    <ul class="header_list">
                        <li class="link">
                            <a href="">Студенту</a>
                            <ul class="sub-header-list">
                                <li class="sub-link">
                                    <a href="">Очное обучение</a>
                                    <ul class="sub-sub-header-list">
                                        <li class="sub-sub-link"><a href="">Стоимость обучения</a></li>
                                        <li class="sub-sub-link"><a href="">Стипендия</a></li>
                                        <li class="sub-sub-link"><a href="">Расписание экзаменов</a></li>
                                        <li class="sub-sub-link"><a href="">Расписание занятий</a></li>
                                    </ul>
                                </li>
                                <li class="sub-link">
                                    <a href="">Заочное обучение</a>
                                    <ul class="sub-sub-header-list">
                                        <li class="sub-sub-link"><a href="">Стоимость обучения</a></li>
                                        <li class="sub-sub-link"><a href="">Стипендия</a></li>
                                        <li class="sub-sub-link"><a href="">Расписание экзаменов</a></li>
                                        <li class="sub-sub-link"><a href="">Расписание занятий</a></li>
                                    </ul>
                                </li>
                                <li class="sub-link"><a href="">Расписание</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="">Абитуриенту</a>
                            <ul class="sub-header-list">
                                <li class="sub-link"><a href="">Наши специальности</a></li>
                                <li class="sub-link"><a href="">Программы профессионального обучения для лиц с ОВЗ</a></li>
                                <li class="sub-link"><a href="">План приема</a></li>
                                <li class="sub-link">
                                    <a href="">Очное обучение</a>
                                    <ul class="sub-sub-header-list">
                                        <li class="sub-sub-link"><a href="">Рейтинг абитуриентов</a></li>
                                        <li class="sub-sub-link"><a href="">Условия приема</a></li>
                                        <li class="sub-sub-link"><a href="">Документы</a></li>
                                        <li class="sub-sub-link"><a href="">Приказ о зачислении</a></li>
                                    </ul>
                                </li>
                                <li class="sub-link">
                                    <a href="">Заочное обучение</a>
                                    <ul class="sub-sub-header-list">
                                        <li class="sub-sub-link"><a href="">План приема</a></li>
                                        <li class="sub-sub-link"><a href="">Условия приема</a></li>
                                        <li class="sub-sub-link"><a href="">Приказ о зачислении</a></li>
                                    </ul>
                                </li>
                                <li class="sub-link"><a href="">Стоимость обучения</a></li>
                                <li class="sub-link"><a href="">Общежитие</a></li>
                            </ul>
                        </li>
                        <div class="header_logo">
                            <a href="/Home/Index"><img src="/image/logo.png" alt=""></a>
                        </div>
                        <li class="link"><a href="">Новости</a></li>
                        <li class="link"><a href="">Еще</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slider swiper">
            <div class="slider-list swiper-wrapper">
                <div class="slider-item swiper-slide">
                </div>
                <div class="slider-item swiper-slide">
                </div>
            </div>
        </div>
        <div class="slider-partners swiper">
            <div class="slider-partners__list swiper-wrapper">
                <div class="slider-partners__item swiper-slide">
                    <img src="/image/data.png" alt="">
                </div>
                <div class="slider-partners__item swiper-slide">
                    <img src="/image/gos-y.png" alt="">
                </div>
                <div class="slider-partners__item swiper-slide">
                    <img src="/image/window.png" alt="">
                </div>
                <div class="slider-partners__item swiper-slide">
                    <img src="/image/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container">
            <div class="content">
                <div class="middleFlex-1">
                    <div class="middleFlex-1__block-1 general_block">
                        <a href="">
                            <div class="middleFlex-1__block-1__text">
                                <p>Тренинги</p>
                            </div>
                            <div class="middleFlex-1__block-1__image">
                                <img src="/image/background/training-back.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="middleFlex-1__block-2">
                        <a href="">
                            <div class="middleFlex-1__block-2__text">
                                <p>НОВОСТИ ЧЛМТ</p>
                            </div>
                            <div class="middleFlex-1__block-2__image">
                                <img src="/image/background/news-back.jpg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="middleFlex-2">
                    <div class="block-1">
                        <div class="block_health general_block">
                            <a href="">
                                <div class="health_text">
                                    <p>Здоровье</p>
                                </div>
                                <div class="health_image">
                                    <img src="/image/background/health-back.jpg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="block_2">
                        <div class="group_blocks_1">
                            <div class="block_vk general_block">
                                <a href="">
                                    <div class="vk_text general_text">
                                        <p>Наша группа ВК</p>
                                    </div>
                                    <div class="vk_image">
                                        <img src="/image/icons/vk.png" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="block_feature general_block">
                                <a href="">
                                    <div class="feature_text general_text">
                                        <p>Будущее ЧЛМТ</p>
                                    </div>
                                    <div class="feature_image">
                                        <img src="/image/icons/feature.png" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="block_korp general_block">
                                <a href="">
                                    <div class="korp_text general_text">
                                        <p>Корпуса</p>
                                    </div>
                                    <div class="korp_image">
                                        <img src="/image/icons/zdaniye.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="group_blocks_2">
                            <div class="block_raspis general_block">
                                <a href="">
                                    <div class="raspis_text general_text">
                                        <p>Расписание</p>
                                    </div>
                                    <div class="raspis_image">
                                        <img src="/image/icons/raspisaniye.png" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="block_predl general_block">
                                <a href="">
                                    <div class="predl_text general_text">
                                        <p>Предложения</p>
                                    </div>
                                    <div class="predl_image">
                                        <img src="/image/icons/people says.png" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="block_about general_block">
                                <a href="">
                                    <div class="about_text general_text">
                                        <p>О нас</p>
                                    </div>
                                    <div class="about_image">
                                        <img src="/image/icons/about us.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer_top">
                <div class="top_text">
                    <p>Будьте вкурсе новостей ЧЛМТ</p>
                </div>
                <div class="top_emailSubmit">
                    <div class="emailSubmit_input">
                        <input type="text" placeholder="Ваш E-mail">
                    </div>
                    <div class="emailSubmit_btn">
                        <button class="subscribe">Подписаться</button>
                    </div>
                </div>
            </div>
            <div class="footer_middle">
                <div class="middle_left">
                    <div class="left_text">
                        <p>Череповецкий Лесомеханический Техникум</p>
                    </div>
                    <div class="left_logo">
                        <img src="/image/logo.png" alt="">
                    </div>
                </div>
                <div class="middle_right">
                    <div class="right_text">
                        <p>Череповецкий Лесомеханический Техникум</p>
                    </div>
                    <div class="right_phone">
                        <p>+7 (8202) 51-80-55</p>
                        <p>+7 (8202) 51-80-14</p>
                        <p>+7 (8202) 55-02-37</p>
                        <p>+7 (8202) 51-78-02</p>
                    </div>
                    <div class="right_geolocation">
                        <p>г.Череповец ул.Труда-1</p>
                    </div>
                    <div class="right_mail">
                        <p>lesohem.ru</p>
                    </div>
                </div>
            </div>
            <div class="footer_under">
                <p>Все права защищены</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                type : "POST",
                url: "@Url.Action("CheckUser")",
                success:function(data){
                    var login = document.querySelector(".login");
                    login.textContent = data.name;
                    login.setAttribute("href", `${data.link}`)
                },
                error:function(){
                    console.log("error")
                }
            })
        })
    </script>
</body>
</html>